body {
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

i {
     color: white;
}

.nb {
    border: none;
}

.bl {
    color: black;
}

form {
    width: 30%; 
    margin: auto;
}

@media(max-width: 1000px) {
    form {
        width: 70%;
    }
}

.outer {
    position: relative;
    height: 45vh;
}

@media(max-width: 1000px) {
	.outer {
		zoom: 150%;
		height: 30vh;
	}
}

.inner {
    position: relative;
    top: 30%;
    transform: translateY(-30%);
    text-align: center;
}